@model LibraryManager.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="boxLogin">
    <h1 class="titleCategorySelected">@ViewBag.Title</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        <ol>
            <li>
                @Html.TextBoxFor(m => m.UserName, htmlAttributes:new { placeholder="UserName"})
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, htmlAttributes:new { placeholder="Password"})
            </li>
            <li>
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes:new { placeholder="Confirm Password"})
            </li>
        </ol>
        <input type="submit" value="Register" />
}

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
